<!DOCTYPE html">
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>Création d&#39;un design étape par étape - Etape n°1 : Le code xhtml</title>
</head>

<body>
    <div id="conteneur">
        <h1 id="header"><a href="#" title="Colored Design - Accueil"><span>Colored Design</span></a></h1>
        <nav>
            <ul id="menu">
                <li><a href="/magasin/">Application n°1 : Magasin</a></li>
                <li><a href="#">Application n°2</a></li>
                <li><a href="#">Application n°3</a></li>
                <li><a href="/blog/">Application n°4: blog</a></li>
            </ul>
        </nav>
        <div id="contenu">
            <h2>Un titre</h2>
            <p>Un paragraphe</p>
        </div>
        <p id="footer">Base de Page de Votre Site Web Django</p>
    </div>
</body>

</html>